h5 {
  text-align: center;
}

h5 img {
  max-width: 100%;
  max-height: 100%;
}

h6 {
  display: block;
}

body {
  background-color: black;
  color: white;
}

.btn {
  background-color: black;
  border: solid #FF7F27 3px;
  border-radius: 0px;
}

.btn-heart img {
  height: 25px;
  width: 25px;
}

.yellowText {
  color: yellow;
}

#prompt {
  text-align: center;
  border: solid #FF7F27 3px;
  border-radius: 0px;
}

#destination-quiz, #restartQuiz {
  margin-top: 20px;
}

#destination1, #destination2, #destination3, #destination4, #destination5, #restartQuiz, #dog-loading {
  text-align: center;
  display: none;
}

#dog-loading {
  color: yellow;
}

#dog-loading img {
  max-width: 400px;
  max-height: 400px;
}

#destination1 {
  font-family: 'Papyrus';
}

#destination1 img {
  text-align: center;
  max-height: 1000px;
  max-width: 1000px;
}
