@font-face {
  font-family: 'Undertale';
  src: url('http://vignette2.wikia.nocookie.net/heliosanctus/images/c/c0/Determination.eot');
  src: url('http://vignette2.wikia.nocookie.net/heliosanctus/images/c/c0/Determination.eot?#iefix') format('embedded-opentype'),
  url('http://vignette3.wikia.nocookie.net/heliosanctus/images/a/aa/Determination.woff2') format('woff2'),
  url('http://vignette3.wikia.nocookie.net/heliosanctus/images/3/37/Determination.woff') format('woff'),
  url('http://vignette2.wikia.nocookie.net/heliosanctus/images/c/cd/Determination.ttf') format('truetype'),
  url('http://vignette3.wikia.nocookie.net/heliosanctus/images/7/7f/Determination.svg#Undertale') format('svg');}

h5 {
  text-align: center;
}

h5 img {
  max-width: 100%;
  max-height: 100%;
}

h3 {
  color: #FF7F27;
}

h6 {
  display: block;
}

body {
  font-family: 'Undertale', cursive;
  font-weight: normal;
  font-size: 1.8em;
  background-color: black;
  color: white;
}

.hangouts {
  color: #FF7F27;
}

.btn {
  background-color: black;
  border: solid #FF7F27 3px;
  border-radius: 0px;
}

.btn-heart img {
  height: 25px;
  width: 25px;
}

.yellowText {
  color: yellow;
}

#prompt {
  text-align: center;
  border: solid #FF7F27 3px;
  border-radius: 0px;
}

#destination-quiz, #restartQuiz {
  margin-top: 20px;
}

#destination1, #destination2, #destination3, #destination4, #destination5, #restartQuiz, #dog-loading {
  text-align: center;
  display: none;
}

#dog-loading {
  color: yellow;
}

#dog-loading img {
  max-width: 400px;
  max-height: 400px;
}

#destination1 {
  font-family: 'Papyrus';
}

#destination1 img {
  text-align: center;
  max-height: 1000px;
  max-width: 1000px;
}

#destination2 img {
  text-align: center;
  max-height: 1000px;
  max-width: 1000px;
}

#destination3 img {
  text-align: center;
  max-height: 1000px;
  max-width: 1000px;
}

#destination4 img {
  text-align: center;
  max-height: 1000px;
  max-width: 1000px;
}

#destination5 img {
  text-align: center;
  max-height: 1000px;
  max-width: 1000px;
}
